html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #img-div{
    max-width: 600px;
    text-align: center;
    padding: 20px;
  }
  
  #img-div{
    max-width:600px;
    text-align:center;
    padding:20px;
  }
  
  #image{
    max-width: 100%;
    display:block;
    height: auto;
    margin:0 auto;
  }
  
  li{
    list-style: none;
    display:block;
  }
  
  #container{
    display:flex;
    align-items:center;
  }